* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background: #232830;
}
/* Utility */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.hero {
  text-align: center;
  padding: 60px 0;
}
/* .posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
} */
/* menu css start */
.site-header {
  padding: 20px;
}
h1.logo {
    font-size: 30px;
    font-weight: 400;
    font-family: Poppins;
}

nav.nav-menu a {
    font-size: 24px font-w;
    font-weight: 400;
    text-decoration: none;
    margin-left: 25px;
    color: #fff;
}

.site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* menu css end */
/* hero banner css start */
.hero h2 {
    font-family: Recursive;
    font-size: 71px;
    color: #FF7575;
    font-style: italic;
    font-weight: 400;
}

.hero p {
    font-family: Poppins;
    font-size: 29px;
}
/* hero banner css end */
/*  selection bar css start */
.selection-bar .wrap {
    display: flex;
    align-items: center;
}

nav.selection-nav a {
    font-family: Recursive;
    color: #909090;
    font-size: 27px;
    text-decoration: none;
    font-weight: 400;
    font-style: italic;
        margin-left: 25px;
}
.selection-type img:last-child {
    margin-left: 10px;
}
.wrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Icons */
.selection-type {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0; /* prevents icons from shrinking */
}

.selection-type img {
  width: 20px;
  cursor: pointer;
}

/* Horizontal scrolling nav */
.selection-nav {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
    -webkit-overflow-scrolling: touch;

}

.selection-nav::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.selection-nav a {
  text-decoration: none;
  color: #333;
  font-size: 0.9rem;
  flex-shrink: 0;
}
.selection-topic{
    position: relative;
    max-width: 100%;
}
.selection-topic:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 100%;

  pointer-events: none;

  background: linear-gradient(    to left,    #232830,    rgba(255, 255, 255, 0)  );
}
/* selection bar css end */
/* cards css start */
article.post-card {
    background: #ffffff;
    border: 1px solid #fff;
    border-radius: 22px;
    padding: 20px;
    margin-bottom: 20px;
}
/* cards css end */